{% extends "base.html" %}
{%load static%}
{% block content %}
<!--<link rel="stylesheet" href="{% static 'css/style1.css' %}" type="text/css"/>-->

<div class="welcome">
    <div class="container">

        <div class="w3l-heading">
            <h2 align="center">小贴士</h2>
        </div>

        <div class="w3-welcome-grids">
            <div class="col-md-7 w3-welcome-left">
                <h4>徒步</h4>
                <p>徒步是指有目的的在城市的郊区、农村或者山野间进行中长距离的走路锻炼，徒步是户外运动最为典型和最为普遍的一种。由于短距离徒步活动比较简单，不需要太讲究技巧和装备，经常也被认为是一种休闲的活动。徒步也是平民的代称。<span>徒步行走的基本原理及要领：徒步行走不单是腿部运动，而是种全身运动，注意通过摆臂来平衡身体、调整步伐。控制节奏，最好的行走速度是走而不喘，脉搏尽量不要超过120次/分钟，背部肩沉背挺，用腹部深呼吸，全脚掌触地，从脚跟到脚尖位移，什么时候都要按自己的行走节奏去走，不要时快时慢，时跑时停，尽量保持匀速。</span></p>
                <div class="w3-button">
                    <a href="http://www.tubuzhe.com/">了解更多</a>
                </div>
            </div>
            <div class="col-md-5 w3ls-welcome-img1">
                <img src="{% static 'image/tubu.jpg' %}" alt="" />
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="w3-welcome-grids w3-welcome-bottom">
            <div class="col-md-5 w3ls-welcome-img1 w3ls-welcome-img2">
                <img src="{% static 'image/panyan.jpg' %}" alt="" />
            </div>
            <div class="col-md-7 w3-welcome-left">
                <h4>攀岩</h4>
                <p>攀岩运动有“岩壁芭蕾”、“峭壁上的艺术体操”等美称，由登山运动衍生而来，富有很强的技巧性、冒险性，是极限运动中的一个重要项目，在世界上十分流行。<span>攀岩运动也属于登山运动，攀登对象主要是岩石峭壁或人造岩墙。攀登时不用工具，仅靠手脚和身体的平衡向上运动，手和手臂要根据支点的不同，采用各种用力方法，如抓、握、挂、抠、撑、推、压等，所以对人的力量要求及身体的柔韧性要求都较高。攀岩时要系上安全带和保护绳，配备绳索等以免发生危险。</span></p>
                <div class="w3-button">
                    <a href="https://www.ifsc-climbing.org/">了解更多</a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="w3-welcome-grids">
            <div class="col-md-7 w3-welcome-left">
                <h4>太极</h4>
                <p>太极拳，国家级非物质文化遗产，是以中国传统儒、道哲学中的太极、阴阳辩证理念为核心思想，集颐养性情、强身健体、技击对抗等多种功能为一体，结合易学的阴阳五行之变化，中医经络学，古代的导引术和吐纳术形成的一种内外兼修、柔和、缓慢、轻灵、刚柔相济的中国传统拳术。 <span>作为一种饱含东方包容理念的运动形式，其习练者针对意、气、形、神的锻炼，非常符合人体生理和心理的要求，对人类个体身心健康以及人类群体的和谐共处，有着极为重要的促进作用</span></p>
                <div class="w3-button">
                    <a href="http://taiji.damicms.com/">了解更多</a>
                </div>
            </div>
            <div class="col-md-5 w3ls-welcome-img1">
                <img src="{% static 'image/taiji.jpg' %}" alt="" />
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="w3-welcome-grids w3-welcome-bottom">
            <div class="col-md-5 w3ls-welcome-img1 w3ls-welcome-img2">
                <img src="{% static 'image/yujia.jpg' %}" alt="" />
            </div>
            <div class="col-md-7 w3-welcome-left">
                <h4>瑜伽</h4>
                <p>瑜伽（英文：Yoga，印地语：योग）是一个汉语词汇，最早是从印度梵语“yug”或“yuj”而来，其含意为“一致”、“结合”或“和谐”。瑜伽源于古印度，是古印度六大哲学派别中的一系，探寻“梵我合一”的道理与方法。而现代人所称的瑜伽则主要是一系列的修身养心方法。<span>瑜伽分为两大类：一个是古典瑜伽，一个是现代瑜伽，现在还包括了正位瑜伽。瑜伽姿势运用古老而易于掌握的技巧，改善人们生理、心理、情感和精神方面的能力，是一种达到身体、心灵与精神和谐统一的运动方式，包括调身的体位法、调息的呼吸法、调心的冥想法等，以达至身心的合一。</span></p>
                <div class="w3-button">
                    <a href="http://www.ciyoga.org/">了解更多</a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
{% endblock content %}





