{% extends 'base.html'	%}
{% load static %}
{% block title %}会员中心{% endblock title %}

{% block content_left%}

<br>
<br>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">
            用户中心
        </h3>
    </div>
    <div class="panel-body">
        {% if page == 2 %}
        <a href= "{% url 'account1:userinfo' %}"><h4>个人信息</h4></a>
        <a href ="{% url 'book:book_list' %}"><h4>预约信息</h4></a>
        {% else	%}
        <a href= "{% url 'account1:userinfo' %}"><h4>个人信息</h4></a>
        <a href ="{% url 'book:book_list' %}"><h4>预约信息</h4></a>

        {% endif %}
    </div>
</div>

{% endblock content_left%}

{% block content_right%}
{% endblock content_right%}



